# Entorno virtual
venv/
.env/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración locales
*.env
*.DS_Store

# Archivos de logs
*.log

# Archivos de editor/IDE
.vscode/
.idea/

# Archivos de sistema
Thumbs.db

# Archivos de cobertura / pruebas
.coverage
htmlcov/
.pytest_cache/
