section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
}

form {
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.6), rgba(80, 60, 0, 0.4));
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    max-width: 400px;
    min-height: 300px;
    color: white;
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.5),
        0 0 20px rgba(255, 215, 0, 0.15);
}

form label {
    font-size: 1.5rem;
    font-weight: bold;
    color: lightyellow;
}

form #entrenador,
form #contraseña {
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    margin-bottom: 0;
    padding: 4px 6px;
}

form #entrenador:focus {
    background-color: whitesmoke;
}

form .errores-container .error {
    color: red;
    font-weight: bold;
}

.icon-item-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 100%;
}

.submit {
    background-color: #1676cf;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #0f52cf;
    cursor: pointer;
}

@media (max-width: 450px) {

    form #entrenador,
    .icon-item-container span {
        width: 90%;
        margin: 0 auto;
    }

    header {
        position: static;
        top: 0;
    }

    header nav ul {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}