body > main{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
  background-color: #ccc;
}
.battle-screen {
  background: linear-gradient(to top, #f5deb3, #fdf5e6);
  font-family: 'Press Start 2P', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor principal */
.battle-screen {
  width: 900px;
  height: 600px;
  border: 4px solid #000;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

/* Entrenadores */
.rival-trainer, .player-trainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  color: #000;
  text-shadow: 1px 1px 0 #fff;
}
.rival-trainer {    /*entrenador rival*/
  top: 100px;
  right: 10px;
}
.player-trainer {    /*entrenador yo*/
  bottom: 160px;
  left: 10px;
}

/* Rival */
.rival-area {
  position: absolute;
  top: 50px;
  right: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rival-area img{
  width: 150px;
}
.rival-info {
  background: #fff;
  border: 3px solid #333;
  padding: 8px;
  border-radius: 6px;
  width: 160px;
  text-align: left;
  font-size: 0.7rem;
  margin-bottom: 5px;
}
.hp-bar {
  width: 100%;
  height: 10px;
  background: #ccc;
  border: 1px solid #222;
  border-radius: 5px;
  margin-top: 3px;
  overflow: hidden;
}
.hp-fill {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #66bb6a, #388e3c);
}


/* Jugador */
.player-area {
  position: absolute;
  bottom: 150px;
  left: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-area img{
  width: 200px;
}
.player-info {
  background: #fff;
  border: 3px solid #333;
  padding: 8px;
  border-radius: 6px;
  width: 160px;
  text-align: left;
  font-size: 0.7rem;
  margin-top: 5px;
}


/* Cuadro de texto y opciones */
.battle-options {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;  /*zona de ataques para que no aparesca tan arriba*/
  background: #f8f8f8;
  border-top: 3px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.battle-text {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.options-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
button {
  background: #fff;
  border: 3px solid #000;
  border-radius: 8px;
  padding: 10px;
  font-family: 'Press Start 2P', monospace;
  font-size: 0.7rem;
  cursor: pointer;
  transition: all 0.2s;
}
button:hover {
  transform: scale(1.05);
}
.fight { background: #ef5350; }
.bag { background: #ffee58; }
.pokemon { background: #81c784; }
.run { background: #64b5f6; }