section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    text-align: center;
    color:white
}

form > input{
    background-color: white;
    color: black;
}