.aparecer {
    animation: aparecer 0.5s;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 480px) {
    header nav ul {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}