body {
    display: grid;
    place-content: center;
}

main {
    padding-top: 0;
}

.container-log {
    width: 100%;
    max-width: 400px;
    height: 750px;
    border: 6px solid #2c3e50;
    border-radius: 12px;
    box-shadow:
        0 10px 40px rgba(0, 0, 0, 0.5),
        inset 0 -2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
    overflow-y: auto;
}

.container-log h1 {
    background-color: #b3b3b3;
    border-bottom: 1px solid rgb(163, 163, 163);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.log p {
    padding: 20px;
    font-weight: bold;
}

.log p:nth-child(2n-1) {
    background-color: rgb(190, 231, 255);
    color: blue;
}

.log p:nth-child(2n) {
    background-color: rgb(255, 198, 198);
    color: red;
}


@media (max-width: 450px) {
  main{
    margin-top: 30px;
  }
}