<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Cambiar título para cada página aquí -->
    <title>{% block title %}PokeWarriors{% endblock %}</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='media/img/pokeball.ico')}}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- Importar fuente -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/index-animations.css')}}">
    <!-- Linkear css aquí -->
    {% block link %}

    {% endblock %}

</head>

<body class="bg-[url('{{ url_for('static', filename='media/img/fondo-bienvenida.jpeg') }}')] bg-cover min-h-screen">
    <header class="fixed p-[1rem_2rem] w-screen">
        <nav>
            <ul class="flex justify-end items-center text-white gap-5 font-bold">
                <li class="relative group p-1 hover:scale-105">
                    <a href="{{url_for('index')}}" class="hover:text-yellow-400 transition-all duration-300">Inicio</a>
                    <span
                        class="absolute left-0 -bottom-1 w-0 h-0.5 bg-yellow-400 transition-all duration-300 group-hover:w-full"></span>
                </li>
                <li class="relative group p-1 hover:scale-105">
                    <a href="{{url_for('lista')}}" class="hover:text-yellow-400 transition duration-300">Pokemons</a>
                    <span
                        class="absolute left-0 -bottom-1 w-0 h-0.5 bg-yellow-400 transition-all duration-300 group-hover:w-full"></span>
                </li>
                <li class="p-1 hover:scale-105">
                    <a href="#" class="bg-green-500 rounded py-2 px-4 hover:bg-green-700 italic font-bold transition-all duration-300 ease-in-out
                    ">Jugar</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="pt-20 aparecer">
        {% block main %}
        <!-- Insertar contenido principal aquí -->
        {% endblock %}

    </main>

    <footer class="fixed bottom-0 bg-transparent text-center text-white w-screen font-bold">
        <p>{{year}} - POKEWARRIORS® - TODOS LOS DERECHOS RESERVADOS</p>
    </footer>
</body>

</html>