{% extends "base.html" %}

{% block title%} PokeWarriors - Login {% endblock %}


{% block body_class %}bg-[url('{{ url_for('static', filename='media/img/fondo-bienvenida.jpeg') }}')] bg-cover
bg-no-repeat{% endblock %}

{% set bg_color_entrenador = "bg-indigo-300"%}
{% set logout_text_color = "text-cyan-200"%}

{% block link %}
<link rel="stylesheet" href="{{  url_for('static', filename = 'css/auth.css')}}">
{% endblock %}

{% block main %}
<section class="flex flex-col gap-8">
    <h1 class="text-white text-4xl font-semibold">LOGIN</h1>
    <form action="" method="post">
        {{form.hidden_tag()}}

        {{form.entrenador.label(title="entrenador")}}
        <div class="icon-item-container">
            <span class="material-symbols-outlined">
                person
            </span>
            {{form.entrenador()}}
        </div>

        {{form.contraseña.label(title="contraseña")}}
        <div class="icon-item-container">
            <span class="material-symbols-outlined">
                key
            </span>
            {{form.contraseña()}}
        </div>

        {{form.enviar()}}
        <div class="errores-container">
            {% for error in form.entrenador.errors%}
            <div class="error">{{error}}</div>
            {% endfor %}
        </div>
    </form>
</section>


{% endblock %}