{% extends "base.html" %}

{% block title%} PokeWarriors - Entrenador {% endblock %}


{% block body_class %}bg-[url('{{ url_for('static', filename='media/img/fondo-bienvenida.jpeg') }}')] bg-cover
bg-no-repeat{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{  url_for('static', filename = 'css/formulario.css')}}">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=person" />
{% endblock %}

{% block main %}
<section>
    <form action="/pokemons/lista_pokemon/" method="post">
        <label for="entrenador" title="entrenador">Entrenador</label>
        <div class="icon-item-container">
            <span class="material-symbols-outlined ">
                person
            </span>
            <input type="text" id="entrenador" name="entrenador" placeholder="Introduce nombre" required
                pattern="[A-Za-z]{3,15}" title="Solo letras A-Z, a-z">
        </div>
        <button class="submit" title="Enviar los datos del formulario">Continuar</button>
    </form>
</section>


{% endblock %}