{% extends "base.html" %}

{% block title %}PokeWarriors - Historial Batallas{% endblock %}
{% block link %}
<link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
{% endblock %}

{% set nav_text_color = "text-indigo-800 drop-shadow-sm" %}
{% set nav_link_class = "hover:text-yellow-500 transition-all duration-300" %}
{% set nav_underline_color = "bg-yellow-500" %}
{% set play_button_class = "bg-indigo-600 text-white rounded py-2 px-4 hover:bg-indigo-800 italic font-bold shadow-md
transition-all duration-300 ease-in-out" %}
{% set footer_text_color = "indigo-800" %}

{% block main %}
<div class="overflow-x-auto mx-10">
    <table class="table text-center">
        <thead class="text-neutral-700">
            <th></th>
            <th>Pokemon Atacante</th>
            <th>Pokemon defensor</th>
            <th>Fecha Partida</th>
            <th>Nombre Ganador</th>
            <th>Nombre Perdedor</th>
        </thead>
        <tbody>
        {% for batalla in batallas %}
            <tr>
                <th>{{ batalla.id }}</th>
                <td>{{ batalla.pokemon_atacante | capitalize }}</td>
                <td>{{ batalla.pokemon_defensor | capitalize }}</td>
                <td>{{ batalla.fecha_creacion }}</td>
                <td>
                    {% for entrenador in batalla.entrenadores %}
                        {% if entrenador.id == batalla.id_ganador %}
                            {{ entrenador.nombre }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for entrenador in batalla.entrenadores %}
                        {% if entrenador.id != batalla.id_ganador %}
                            {{ entrenador.nombre }}
                        {% endif %}
                    {% endfor %}
                </td>
        {% endfor%}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}