{% extends "base.html" %}

{% block title %}PokeWarriors - Historial Batallas{% endblock %}

{% set nav_text_color = "text-indigo-800 drop-shadow-sm" %}
{% set nav_link_class = "hover:text-yellow-500 transition-all duration-300" %}
{% set nav_underline_color = "bg-yellow-500" %}
{% set play_button_class = "bg-indigo-600 text-white rounded py-2 px-4 hover:bg-indigo-800 italic font-bold shadow-md
transition-all duration-300 ease-in-out" %}
{% set footer_text_color = "indigo-800" %}

{% block main %}
<section>
    <table>
        <tr>
            <td>ID Batalla</td>
            <td>Pokemon Atacante</td>
            <td>Pokemon Defensor</td>
            <td>Fecha Partida</td>
            <td>ID Ganador</td>
        </tr>
    {% for batalla in batallas %}
    <tr>
        <td>{{ batalla.id }}</td>
        <td>{{ batalla.pokemon_atacante }}</td>
        <td>{{ batalla.pokemon_defensor }}</td>
        <td>{{ batalla.fecha_creacion }}</td>
        <td>{{ batalla.id_ganador }}</td>
    </tr>
    {% endfor %}
    </table>
</section>
{% endblock %}