{% extends "base.html" %}

{% block title %} PokeWarriors - Bienvenida {% endblock %}

{% block link %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap" rel="stylesheet">
{% endblock %}

<!-- Estilo background -->

{% block body_class %}bg-[url('{{ url_for('static', filename='media/img/fondo-bienvenida.jpeg') }}')] bg-cover
bg-no-repeat{% endblock %}

{% block main %}

<section class="flex flex-col">
    <h1 class="text-yellow-300 text-center text-[100px]" style="font-family: bangers;">POKEWARRIORS</h1>
    <h3 class="text-center font-bold text-3xl text-cyan-300" style="font-family: Annie Use Your Telescope">
        ¿Comenzamos la
        aventura?
    </h3>
</section>

<section class="flex items-center justify-center gap-8 mt-12">
    <a href="{{url_for('formulario')}}"
        class="bg-[#ec1313] px-8 h-11 rounded-sm text-white font-bold text-lg content-center transition-all duration-300 ease-in-out hover:bg-[#ff4d4d] hover:scale-105">Jugar</a>
    <a href=" {{url_for('lista')}}"
        class="bg-[#f8cd20] px-8 h-11 rounded-sm font-bold text-lg content-center transition-all duration-300 ease-in-out hover:bg-[#ffd633] hover:scale-105">Lista
        Pokemons</a>
</section>

{% endblock %}