{% extends "base.html" %}

{% block title %} PokeWarrior - List {% endblock %}

{% block main %}

     <h2>Listado de pokemon</h2>

    <div class="pokemon-container">
        {% for pokemon in pokemons %}
            <div class="pokemon-card">
                <h3>{{pokemon.name}}</h3>
                <img src="{{pokemon.sprites.front_default}}" alt="{{pokemon.sprites}}">
                {% for elemento in pokemon.types %}
                    <p class="tipo-{{ elemento }}">{{ elemento }}</p>
                    
                
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}