{% extends "base.html" %}

{% block title %} PokeWarrior - List {% endblock %}

{% block link %}
<link rel="stylesheet" href="{{  url_for('static', filename = 'css/pokemon-lista.css')}}">
{% endblock %}

<!-- Variables base para que resalte la navbar -->

{% set nav_text_color = "text-indigo-800 drop-shadow-sm" %}
{% set nav_link_class = "hover:text-yellow-500 transition-all duration-300" %}
{% set nav_underline_color = "bg-yellow-500" %}
{% set play_button_class = "bg-indigo-600 text-white rounded py-2 px-4 hover:bg-indigo-800 italic font-bold shadow-md
transition-all duration-300 ease-in-out" %}
{% set footer_text_color = "indigo-800" %}

{% block main %}

<div class="pokemon-container">
    {% for pokemon in pokemons %}
    <a href="{{ url_for('pokemon_detalles', id = pokemon.id) }}">
        <div class="pokemon-card">
            <div class="title-img-container">
                <h3>{{pokemon.name}}</h3>

                <section class="img-iconos-container">
                    {% for tipo in pokemon.types%}
                    <img src="{{url_for('static', filename='media/img/tipos-pokemon/' + tipo + '.webp')}}"
                        alt="Tipo de pokemon" class="img-tipo">
                    {% endfor %}
                </section>
            </div>

            <img src="{{pokemon.sprites.front_default}}" alt="{{pokemon.sprites}}">

            {% for elemento in pokemon.types %}
            <p class="tipo-{{ elemento }}">{{ elemento }}</p>
            {% endfor %}

        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}