{% extends "base.html" %}

{% block title %} PokeWarrior - List {% endblock %}

{% block link %}
<link rel="stylesheet" href="{{  url_for('static', filename = 'css/pokemon-lista.css')}}">
{% endblock %}

{% block main %}

<div class="pokemon-container">
    {% for pokemon in pokemons %}
    <a href="{{ url_for('pokemon_detalles', id = pokemon.id) }}">
        <div class="pokemon-card">
            <div class="title-img-container">
                <h3>{{pokemon.name}}</h3>

                <section class="img-iconos-container">
                    {% for tipo in pokemon.types%}
                    <img src="{{url_for('static', filename='media/img/tipos-pokemon/' + tipo + '.webp')}}"
                        alt="Tipo de pokemon" class="img-tipo">
                    {% endfor %}
                </section>
            </div>

            <img src="{{pokemon.sprites.front_default}}" alt="{{pokemon.sprites}}">

            {% for elemento in pokemon.types %}
            <p class="tipo-{{ elemento }}">{{ elemento }}</p>
            {% endfor %}

        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}