{% extends "base.html" %}

{% block title %}Pokemons{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{  url_for('static', filename = 'css/pokemon-lista.css')}}">
{% endblock %}

{% block main %}

    <div class="pokemon-container">
        <div class="pokemon-card">
            <h3>{{pokemon_recibir.name}}</h3>
            <img src="{{pokemon_recibir.sprites.front_default}}" alt="{{pokemon_recibir.sprites}}">
            {% for elemento in pokemon_recibir.types %}
                <p class="tipo-{{ elemento }}">{{ elemento }}</p>
            {% endfor %}
            
        </div>
    </div>

{% endblock %}